.malayalam-font {
  font-family: "Your-Malayalam-Font", sans-serif; /* Replace 'Your-Malayalam-Font' with the actual font name or URL */
}
.detail-title {
  font-family: "Noto Sans Malayalam", sans-serif;
  font-family: "Noto Serif Malayalam", serif;
}
.detail-html p{
  font-family: "Noto Sans Malayalam", sans-serif;
  font-family: "Noto Serif Malayalam", serif;
}
