@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Malayalam:wght@300;700&family=Noto+Serif+Malayalam&display=swap');

.malayalam-font {
  font-family: "Noto Sans Malayalam", sans-serif; /* Replace 'Your-Malayalam-Font' with the actual font name or URL */
}
.detail-title {
  font-family: "Noto Sans Malayalam", sans-serif;
}
.detail-html p{
  font-family: "Noto Sans Malayalam", sans-serif;
}
